$primary-color: hsla(204, 91%, 49%, 0.9);
$font-size-large: 50px;
$header-height: 100px;
$container-width: 100%;
$max-container-width: 1200px;
$linha-height: 3px;
$espaco-height: 40px;
$secondary-color: hsla(34, 91%, 49%, 0.9);
$hover-color: hsla(304, 91%, 49%, 0.9);
$font-size-title: 36px;
$font-family-title: 'Comic Sans MS', 'Comic Sans', cursive;
$animation-duration: 0.3s;
$animation-timing: ease-in-out;

body {
  margin: 0;
  display: flex;
  flex-direction: row;
  background: url("../img/fundo.jpg");
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  
  .container {
    margin: 35px auto 0 auto; // Centraliza o container horizontalmente
    width: $container-width;
    max-width: $max-container-width;
    display: flex;
    flex-direction: column;
    border: 0;
    background-color: white;

    #tittle {
      display: flex;
      width: 100%;
      height: $header-height;
      font-size: 80px;
      text-align: center;
      justify-content: center;


    //-----
    //------
    
    


    //-----
    }

    .pentagrama_1,
    .pentagrama_2,
    .pentagrama_3 {
      display: flex;
      flex-direction: row;
      width: 100%; // Garante que os pentagramas usem toda a largura do container
    }

    .linhas_espacos {
      flex: 1; // Faz com que cada .linhas_espacos ocupe uma parte igual da largura
      border: 0;
      display: flex;
      flex-direction: column;

      img {
        display: none;
        max-height: 45px;
        z-index: 1;
        justify-content: center;
        align-items: center;
      }

      .linha {
        display: flex;
        background-color: black;
        height: $linha-height;
        border: 0;
        justify-content: center;
        align-items: center;
      }

      #linha_do {
        background-color: transparent;

        img {
          max-width: 120px;
          height: auto;
          transform: rotate(13deg);
          display: none;
        }
      }

      .espaco {
        display: flex;
        background-color: white;
        border: 0;
        height: $espaco-height;
        justify-content: center;
        align-items: center;
      }
    }

    .linhas_espacos:nth-child(1) {
      #linha_sol {
        img {
          display: block;
          max-height: 335px;
          margin-top: -78px;
          margin-left: -20px;
          height: auto;
        }
      }
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  
  width: 100%;

  .btn-group {
    position: relative;
    display: inline-block;

    .btn-primary {
      color: #fff;
      background-color: $primary-color;
      border: none;
      padding: 0.375rem 0.75rem;
      cursor: pointer;

      &:hover,
      &:focus {
        background-color: darken($primary-color, 10%);
      }

      .dropdown-toggle {
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }

      .dropdown-menu {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        top: 100%;
        left: 0;

        .dropdown-item {
          padding: 0.5rem 1rem;
          text-align: center;
          color: $primary-color;
          text-decoration: none;
          display: block;

          &:hover {
            background-color: $primary-color;
            color: white;
          }
        }
      }

      &:hover .dropdown-menu,
      &:focus-within .dropdown-menu {
        display: block;
      }
    }
  }

  .pagIngles {
    .btn-primary {
      color: #fff;
      background-color: $primary-color;
      border: none;
      padding: 0.375rem 0.75rem;
      cursor: pointer;
      display: inline-flex;
      align-items: center;

      &:hover,
      &:focus {
        background-color: darken($primary-color, 10%);
      }

      .badge-primary {
        color: #fff;
        background-color: $primary-color;
        text-decoration: none;
        padding: 0.25rem 0.4rem;
        border-radius: 0.25rem;

        &:hover,
        &:focus {
          background-color: darken($primary-color, 10%);
        }
      }
    }
  }
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;

  .nav-item {
    list-style: none;
    margin: 0 1rem;
    position: relative;

    a {
      text-decoration: none;
      color: white;
      font-size: 1.2rem;
    }

    &.dropdown {
      .dropbtn {
        background-color: $primary-color;
        color: white;
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        top: 100%;
        left: 0; // Alinhamento à esquerda

        a {
          color: $primary-color;
          padding: 0.5rem 1rem;
          text-decoration: none;
          display: block;

          &:hover {
            background-color: $primary-color;
            color: white;
          }
        }
      }

      &:hover .dropdown-content,
      &:focus-within .dropdown-content {
        display: block;
      }
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/fundo.jpg");
  width: 100%;
  max-width: 100%;

  .foot {
    background-color: transparent;
    margin: 50px auto 0 auto; // Centraliza o footer horizontalmente
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: $max-container-width;

    .doremiquebra {
      display: flex;
      flex-direction: row;
    }

    p {
      font-weight: bolder;
    }

    img {
      max-width: 60px;
      height: auto;
      transform: rotate(13deg);
    }
  }

  .textfoot {
    color: $primary-color;
    font: normal, Round, sans-serif;
    font-size: $font-size-large;
    height: 140px;
    left: 0;
    letter-spacing: 5px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 20%;
    width: 100%;
    animation: move linear 2000ms infinite;
  }
}

@keyframes move {
  0% {
    text-shadow: 6px -4px 0 rgb(255, 0, 179), 4px -3px 0 rgb(255, 0, 179),
      2px -2px 0 rgb(255, 0, 179), 1px -1px 0 rgb(255, 0, 179), -4px 6px 0 rgb(43, 255, 0),
      -3px 4px 0 rgb(43, 255, 0), -2px 2px 0 rgb(43, 255, 0), -1px 1px 0 rgb(43, 255, 0);
  }
  25% {
    text-shadow: -4px -4px 0 rgb(43, 255, 0), -3px -3px 0 rgb(43, 255, 0),
      -2px -2px 0 rgb(43, 255, 0), -1px -1px 0 rgb(43, 255, 0), 6px 6x 0 rgb(255, 0, 179),
      4px 4px 0 rgb(255, 0, 179), 2px 2px 0 rgb(255, 0, 179), 1px 1px 0 rgb(255, 0, 179);
  }
}

/* Responsividade */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;

    .nav-item {
      margin: 0.5rem 0;

      &.dropdown {
        .dropdown-content {
          position: relative;
          width: 100%;
        }
      }
    }
  }
}
