body {
  margin: 0px;
  display: flex;
  flex-direction: row;
  background: url("../img/fundo.jpg");
  max-width: 800px;
  width: 90%;
  flex-wrap: wrap;
}
body {
  .container {
    margin-left: 60px;
    margin-top: 35px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    border: 0px;
    background-color: white;
  }
  #tittle {
    display: flex;
    width: 100%;
    height: 100px;
    font-size: 80px;
    text-align: center;
    justify-content: center;
  }

  .pentagrama_1,
  .pentagrama_2,
  .pentagrama_3 {
    display: flex;
    flex-direction: row;
  }
  .linhas_espacos {
    width: 120px;
    border: 0px;
    display: flex;
    flex-direction: column;
    img {
      display: none;
      max-height: 45px;
      z-index: 1;
      justify-content: center;
      align-items: center;
    }
    .linha {
      display: flex;
      background-color: black;
      height: 3px;
      border: 0px;
      justify-content: center;
      align-items: center;
    }

    #linha_do {
      background-color: transparent;

      img {
        max-width: 120px;
        height: auto;
        -webkit-transform: rotate(13deg);
        -ms-transform: rotate(13deg);
        transform: rotate(13deg);
        display: none;
      }
      #espacos_do {
        background-color: white;
      }
    }
    .espaco {
      display: flex;
      background-color: white;
      border: 0px;
      height: 40px;
      justify-content: center;
      align-items: center;
    }
  }

  .linhas_espacos:nth-child(1) {
    #linha_sol {
      img {
        display: block;
        max-height: 335px;
        margin-top: -78px;
        margin-left: -20px;
        height: auto;
      }
    }
  }
}

@media (max-width: 995px) {
  body {
    .container {
      margin-left: 60px;
      margin-top: 35px;
      width: 1200px;
      display: flex;
      flex-direction: column;
      border: 0px;
      background-color: white;
    }

    .pentagrama_1,
    .pentagrama_2,
    .pentagrama_3 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
