body {
  margin: 0px;
  display: flex;
  flex-direction: row;
  background: url("../img/fundo.jpg");
  max-width: 100%;
  width: 100%;
  flex-wrap: wrap;
}

body .container {
  margin-left: 60px;
  margin-top: 35px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  border: 0px;
  background-color: white;
}
body #tittle {
  display: flex;
  width: 100%;
  height: 100px;
  font-size: 80px;
  text-align: center;
  justify-content: center;
}
body .pentagrama_1, body .pentagrama_2, body .pentagrama_3 {
  display: flex;
  flex-direction: row;
}
body .linhas_espacos {
  width: 120px;
  border: 0px;
  display: flex;
  flex-direction: column;
}
body .linhas_espacos img {
  display: none;
  max-height: 45px;
  z-index: 1;
  justify-content: center;
  align-items: center;
}
body .linhas_espacos .linha {
  display: flex;
  background-color: black;
  height: 3px;
  border: 0px;
  justify-content: center;
  align-items: center;
}
body .linhas_espacos #linha_do {
  background-color: transparent;
}
body .linhas_espacos #linha_do img {
  max-width: 120px;
  height: auto;
  transform: rotate(13deg);
  display: none;
}
body .linhas_espacos #linha_do #espacos_do {
  background-color: white;
}
body .linhas_espacos .espaco {
  display: flex;
  background-color: white;
  border: 0px;
  height: 40px;
  justify-content: center;
  align-items: center;
}
body .linhas_espacos:nth-child(1) #linha_sol img {
  display: block;
  max-height: 335px;
  margin-top: -78px;
  margin-left: -20px;
  height: auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/fundo.jpg");
}
footer .foot {
  background-color: transparent;
  margin-left: 60px;
  margin-top: 50px;
  /*teste*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
footer .foot .doremiquebra {
  display: flex;
  flex-direction: row;
}
footer .foot p {
  font-weight: bolder;
}
footer .foot img {
  max-width: 60px;
  height: auto;
  transform: rotate(13deg);
}
footer .textfoot {
  color: hsla(204, 91%, 49%, 0.9);
  font: normal, Round, sans-serif;
  font-size: 50px;
  height: 140px;
  left: 0;
  letter-spacing: 5px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 20%;
  width: 100%;
  animation: move linear 2000ms infinite;
}
@keyframes move {
  0% {
    text-shadow: 6px -4px 0 rgb(255, 0, 179), 4px -3px 0 rgb(255, 0, 179), 2px -2px 0 rgb(255, 0, 179), 1px -1px 0 rgb(255, 0, 179), -4px 6px 0 rgb(43, 255, 0), -3px 4px 0 rgb(43, 255, 0), -2px 2px 0 rgb(43, 255, 0), -1px 1px 0 rgb(43, 255, 0);
  }
  25% {
    text-shadow: -4px -4px 0 rgb(43, 255, 0), -3px -3px 0 rgb(43, 255, 0), -2px -2px 0 rgb(43, 255, 0), -1px -1px 0 rgb(43, 255, 0), 6px 6x 0 rgb(255, 0, 179), 4px 4px 0 rgb(255, 0, 179), 2px 2px 0 rgb(255, 0, 179), 1px 1px 0 rgb(255, 0, 179);
  }
  50% {
    text-shadow: -4px 6px 0 rgb(255, 0, 179), -3px 4px 0 rgb(255, 0, 179), -2px 2px 0 rgb(255, 0, 179), -1px 1px 0 rgb(255, 0, 179), 6px -4px 0 rgb(43, 255, 0), 4px -3px 0 rgb(43, 255, 0), 2px -2px 0 rgb(43, 255, 0), 1px -1px 0 rgb(43, 255, 0);
  }
  75% {
    text-shadow: 6px 6px 0 rgb(43, 255, 0), 4px 4px 0 rgb(43, 255, 0), 2px 2px 0 rgb(43, 255, 0), 1px 1px 0 rgb(43, 255, 0), -4px -4px 0 rgb(255, 0, 179), -3px -3px 0 rgb(255, 0, 179), -2px -2px 0 rgb(255, 0, 179), -1px -1px 0 rgb(255, 0, 179);
  }
  100% {
    text-shadow: 6px -4px 0 rgb(255, 0, 179), 4px -3px 0 rgb(255, 0, 179), 2px -2px 0 rgb(255, 0, 179), 1px -1px 0 rgb(255, 0, 179), -4px 6px 0 rgb(43, 255, 0), -3px 4px 0 rgb(43, 255, 0), -2px 2px 0 rgb(43, 255, 0), -1px 1px 0 rgb(43, 255, 0);
  }
}/*# sourceMappingURL=style.css.map */